@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .full { @apply w-full h-full }

html, body { @apply bg-silver dark:bg-coal text-black dark:text-silver }

body { font-family: 'Inter', sans-serif; }

/*login && signup*/

.loading { @apply full flex justify-center items-center text-lg font-bold }

.auth { @apply full flex lg:flex-row justify-around lg:justify-center items-center sm:shadow-2xl text-black }

.auth-img-container { @apply w-full md:h-full bg-sunset flex flex-col gap-8 justify-center items-center p-8 }

.auth-img { @apply w-24 h-24 lg:w-64 lg:h-64 hidden lg:block }

.auth-languages { @apply flex gap-2 }

.auth-form { @apply full flex flex-col justify-center gap-4 lg:gap-5 p-12 md:p-24 bg-white } 

.auth-title { @apply text-3xl font-black mb-4 }

.auth-text { @apply text-lg h-16 }

.auth-input { @apply w-full p-2 focus:outline-sunset border-solid border-2 border-ash rounded-xl }

.auth-button { @apply w-full bg-black hover:bg-coal focus:bg-coal duration-200 text-white rounded-xl }

.auth-redirect { @apply hover:underline cursor-pointer }

.auth-reset { @apply hover:underline cursor-pointer w-fit }

/*dashboard*/

.dashboard { @apply flex flex-col md:flex-row-reverse }

.dashboard-menu { @apply bg-black h-12 md:w-16 md:h-full flex md:flex-col justify-around md:justify-center items-center md:gap-32 font-bold shrink-0 }

.active-link { @apply bg-sunset }

@media (max-width: 768px) {
  .dashboard-view { height: calc(100% - 3rem); }
}
.dashboard-view { @apply w-full h-full flex dark:bg-coal overflow-y-auto }

/*overview*/

.overview { @apply flex flex-col md:flex-row overflow-y-auto }

.tyme-container { @apply full bg-white dark:bg-black flex flex-col gap-4 p-4 rounded-xl overflow-y-auto }

.overview-left, .overview-right { @apply h-full }

/**/

.overview-left { @apply w-full flex flex-col md:w-1/2 lg:w-3/5 xl:w-4/6 h-full }

.day { @apply h-full md:h-3/5 flex flex-col md:flex-row text-center }

.wheather-container { @apply flex flex-row md:flex-col shrink-0 }

.wheather, .temperature { @apply w-1/2 md:w-full aspect-square flex justify-center items-center p-4 }

.wheather { @apply bg-black rounded-l-2xl md:rounded-t-2xl md:rounded-bl-none }

.temperature { @apply bg-white dark:text-black rounded-r-2xl md:rounded-b-2xl md:rounded-tr-none text-4xl font-black }

.today { @apply full flex flex-col pl-8 pr-8 md:pr-0 md:pt-8 }

.tyme-sm { @apply w-fit flex flex-col items-start gap-2 text-left hover:border-sunset focus:border-sunset py-2 px-4 duration-200 border-l-[6px] cursor-pointer border-solid border-lightgray }

.tyme-sm-days { @apply text-sm text-gray }

.tyme-sm-title { @apply font-bold whitespace-nowrap text-ellipsis }

.tyme-add { @apply p-2 rounded-2xl hover:bg-silver focus:bg-silver dark:hover:bg-coal dark:focus:bg-coal duration-200 }

.tools { @apply h-full md:h-2/5 flex justify-center items-center md:pb-8 pt-8 pl-8 pr-8 md:pr-0 gap-4 md:gap-8 }

.tools > a { @apply full flex flex-col justify-center items-center p-4 text-sm md:text-base duration-200 bg-black hover:bg-coal focus:bg-coal dark:bg-white dark:hover:bg-lightgray dark:focus:bg-lightgray text-white dark:text-black rounded-2xl }

.tools img { @apply w-8 md:w-10 }

/**/

.overview-right { @apply w-full flex flex-col md:w-1/2 lg:w-2/5 xl:w-2/6 h-full p-8 gap-8 }

.calendar { @apply full flex flex-col bg-black dark:bg-darkgray rounded-2xl p-4 text-white }

.incoming { @apply full flex flex-col overflow-y-auto gap-2 }

/*modal*/

.modal {
  background-color: rgba(120, 120, 120, 0.6);
  @apply p-8 md:p-32 fixed top-0 left-0 full flex justify-center items-center z-10
}

.modal-content { @apply w-full z-10 flex flex-col text-sm md:text-base gap-8 shadow-2xl bg-white dark:bg-black p-4 md:p-12 rounded-2xl overflow-hidden }

.modal form { @apply full flex flex-col }

.modal h1 { @apply text-xl md:text-2xl font-bold }

.modal input { @apply bg-transparent p-2 md:p-4 w-fit focus:outline-none }

.modal input[type="date"] { @apply bg-white p-2 text-black rounded-2xl }

.modal select { @apply bg-transparent}

.modal option { @apply bg-transparent }

.modal label { @apply p-2 md:p-4 }

.modal textarea { @apply bg-transparent p-2 md:p-4 w-full h-48 }

.modal-title { @apply text-2xl font-bold }

.modal hr { @apply border-t-2 mx-2 border-solid border-silver }

.modal-footer { @apply flex flex-col md:flex-row gap-3 md:gap-4 }

.modal-error { @apply min-h-[2.5rem] p-2 text-[#f1121f] }

.modal-close {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #aaa;
}

.modal-save { @apply w-full p-2 font-bold bg-sunset hover:bg-midDay focus:bg-midDay duration-200 text-black rounded-xl }

.modal-cancel { @apply w-full p-2 rounded-xl hover:bg-silver dark:hover:bg-coal focus:bg-silver dark:focus:bg-coal duration-200 }

.modal-delete { @apply w-full p-2 rounded-xl bg-black dark:bg-white hover:bg-coal dark:hover:bg-lightgray focus:bg-coal dark:focus:bg-lightgray text-white dark:text-black duration-200 }

/*verify*/

.verify { @apply flex flex-col justify-center items-center gap-12 p-8 md:p-24 }

.verify-message { @apply w-full md:text-lg }

.verify-button { @apply w-fit hover:underline text-lightgray dark:text-lightgray }

/*day*/

.day-view { @apply flex flex-col p-4 md:p-8 gap-4 }

.back { @apply w-12 rounded-full hover:bg-lightgray focus:bg-lightgray dark:hover:bg-darkgray dark:focus:bg-darkgray p-2 duration-200 }

/*settings*/

.settings { @apply flex flex-col p-8 md:p-12 overflow-y-auto }

.settings > * { @apply shrink-0 }

.settings h1, .user h1 { @apply font-black text-3xl underline }

.settings h2 { @apply font-bold text-2xl mt-8 mb-2 }

.settings-option { @apply w-full h-16 flex justify-between items-center gap-8 p-2 }

.account-option { @apply w-full min-h-[4rem] flex flex-col md:flex-row md:items-center gap-2 md:gap-8 p-2 }

.account-option p { @apply p-2 bg-white text-black border-2 border-solid border-lightgray rounded-2xl }

.settings hr { @apply hidden md:block w-full }

.settings label { @apply w-fit whitespace-nowrap }

.settings input { @apply p-2 bg-white border-2 border-solid border-lightgray rounded-2xl }

.drop { @apply flex flex-col p-4 mt-2 gap-2 md:gap-3  }

.drop-flex { @apply flex flex-col md:flex-row gap-2 md:gap-3 bg-white dark:bg-black p-2 md:p-3 rounded-2xl }

.drop-flex > div { @apply w-full flex flex-col justify-between gap-2 md:gap-3 }

/*Notes*/

.notes { @apply full flex flex-col }

.notes-container { @apply full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 flex-wrap gap-6 overflow-y-auto p-6 md:p-12 }

.notes form { @apply h-64 flex flex-col gap-2 border-solid border-2 border-lightgray dark:border-gray bg-ash dark:bg-darkgray p-2 md:p-4 rounded-2xl }

.notes-submit { @apply self-end p-2 rounded-2xl }

.notes-none { @apply cursor-not-allowed }

.notes-smth { @apply text-black bg-sunset hover:bg-midDay duration-200 }

.notes-delete { @apply hover:bg-silver focus:bg-silver dark:hover:bg-gray dark:focus:bg-gray  duration-200 }

.notes-delete img { @apply w-8 }

.notes textarea { @apply w-full h-full bg-transparent outline-none }

.note { @apply h-64 rounded-2xl flex flex-col gap-4 bg-white dark:bg-black border-2 border-solid border-silver dark:border-coal p-2 md:p-4 }

.note p { @apply h-full overflow-y-auto break-words }

/*projects*/

.projects { @apply flex flex-col }

.project-container { @apply flex flex-col gap-6 p-6 md:p-12 }

.project-add { @apply p-2 rounded-2xl hover:bg-lightgray focus:bg-lightgray dark:hover:bg-darkgray dark:focus:bg-darkgray duration-200 }

.project { @apply flex items-center justify-between p-4 rounded-2xl duration-200 bg-white hover:bg-lightgray focus:bg-lightgray dark:bg-black dark:hover:bg-darkgray dark:focus:bg-darkgray cursor-pointer }

.project-name { @apply text-lg md:text-2xl }

.number-tymes { @apply text-gray dark:text-gray }

/*habits*/

.habits { @apply flex flex-col }

.habits-container { @apply full flex flex-col p-4 md:p-8 overflow-y-auto gap-4 md:gap-8 }

.habit { @apply bg-silver hover:bg-lightgray focus:bg-lightgray dark:bg-darkgray duration-200 w-full flex justify-between p-3 md:p-6 rounded-2xl }

.habit-day { @apply w-8 }

.habit-all, .habit-day { @apply h-8 border-2 border-solid rounded-full }

.habit-all { @apply px-2 }

/*charts*/

.charts { @apply flex flex-col }

.charts input { @apply bg-transparent }

.charts-container { @apply full flex flex-wrap justify-center text-black overflow-y-auto p-4 md:p-12 gap-12 }

.charts canvas { width: 100% !important; }

.chart { @apply bg-white rounded-2xl flex flex-col gap-8 p-4 items-center shrink-0 }

.charts-subcontainer { @apply w-fit flex flex-col gap-8 }

.tracking { @apply text-gray self-start text-sm }

/*selects*/

.my-react-select-container .my-react-select__control {
  @apply text-black dark:text-white bg-white dark:bg-black border-gray border-2 hover:border-ash dark:hover:border-gray;
}

.my-react-select-container .my-react-select__control--is-focused {
  @apply hover:border-gray dark:border-ash dark:hover:border-ash shadow-none;
}

.my-react-select-container .my-react-select__menu {
  @apply bg-white dark:bg-coal;
}

.my-react-select-container .my-react-select__option {
  @apply text-black dark:text-white hover:bg-silver hover:dark:bg-gray hover:dark:text-white;
}

.my-react-select-container .my-react-select__option--is-focused  {
  @apply bg-white dark:bg-coal;
} 

.my-react-select-container .my-react-select__option--is-selected  {
  @apply bg-sunset dark:text-black;
} 

.my-react-select-container .my-react-select__indicator-separator {
  @apply bg-gray;
}

.my-react-select-container .my-react-select__input-container,
.my-react-select-container .my-react-select__placeholder,
.my-react-select-container .my-react-select__single-value {
  @apply dark:text-white;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  z-index: 0;
}


.header-flex { @apply flex items-center gap-4 }

.tool-header { @apply p-4 md:p-8 border-b-2 border-solid border-lightgray dark:border-darkgray }

.tool-header h1 { @apply text-xl md:text-3xl }


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}