@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .auth, .dashboard { @apply w-full h-full }

body { @apply bg-silver }

body { font-family: 'Inter', sans-serif; }

/*header*/

/*login && signup*/

.auth { @apply flex flex-col lg:flex-row justify-around lg:justify-center lg:gap-64 items-center bg-silver }

.auth-img { @apply w-24 h-24 lg:w-64 lg:h-64 shadow-2xl hidden lg:block }

.auth-languages { @apply flex gap-4 }

.auth-languages > div { @apply w-20 }

.auth-form { @apply fade-in flex flex-col gap-3 lg:gap-4 p-4 lg:p-8 rounded-xl w-full sm:w-96 } 

.auth-title { @apply text-3xl font-black }

.auth-text { @apply text-lg h-16 }

.auth-input { @apply w-full p-2 bg-white focus:outline-none border-solid border-2 border-ash rounded-xl }

.auth-button { @apply bg-black hover:bg-coal duration-200 w-full text-white rounded-xl }

.auth-redirect { @apply hover:underline cursor-pointer }

/*dashboard*/

.dashboard { @apply flex flex-col-reverse md:flex-row }

.dashboard-menu { @apply h-12 md:w-16 md:h-full flex md:flex-col justify-around md:justify-center items-center md:gap-24 font-bold shrink-0 }

.active-link { @apply bg-sunset }

.dashboard-view { @apply w-full h-full bg-white border-solid border-l-2 border-ash }



.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}