@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { @apply w-full h-full }

body { font-family: 'Inter', sans-serif; }

.auth-input { @apply w-full p-2 bg-white focus:outline-none border-solid border-2 border-ash rounded-xl }

.auth-button { @apply bg-black hover:bg-coal duration-200 w-full text-white rounded-xl }

.auth-redirect { @apply hover:underline cursor-pointer }

.dashboard {
    display: flex;
    flex-direction: row;
    padding: 2em;
}

.calendar {
    display: flex;
    flex-direction: column;
    padding: 2em;
}