@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .full { @apply w-full h-full }

body { @apply bg-silver dark:bg-coal text-black dark:text-silver }

body { font-family: 'Inter', sans-serif; }

/*tymes*/

.tyme-sm { @apply w-fit flex flex-col hover:border-sunset focus:border-sunset py-2 px-4 duration-200 border-l-[6px] cursor-pointer border-solid border-lightgray }

.tyme-sm-days { @apply text-sm text-gray dark:text-lightgray }

.tyme-sm-title { @apply font-bold whitespace-nowrap text-ellipsis }

.modal-content { @apply w-full h-full flex flex-col text-sm md:text-base gap-8 shadow-2xl bg-white text-black p-6 md:p-12 rounded-2xl overflow-hidden }

.modal form { @apply full flex flex-col justify-between }

.modal h1 { @apply text-xl md:text-2xl font-bold }

.modal input { @apply bg-white p-4 w-full focus:outline-none }

.modal-title { @apply text-2xl font-bold }

.modal hr { @apply border-t-2 mx-2 border-solid border-silver }

.modal-footer { @apply flex flex-col md:flex-row gap-4 }

.modal-error { @apply p-2 md:p-4 text-[#f1121f] }

.modal-close {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #aaa;
}

.tyme-sm-add { @apply p-2 rounded-2xl hover:bg-silver dark:hover:bg-coal focus:bg-silver dark:focus:bg-coal duration-200 }

.tyme-save { @apply w-full p-2 font-bold bg-sunset hover:bg-midDay focus:bg-midDay duration-200 text-black rounded-xl }

.tyme-cancel { @apply w-full p-2 rounded-xl hover:bg-silver dark:hover:bg-ash focus:bg-silver dark:focus:bg-coal duration-200 }

.tyme-delete { @apply w-full md:w-fit p-2 rounded-xl bg-black hover:bg-coal focus:bg-coal text-white }

/*login && signup*/

.auth { @apply w-full sm:w-fit flex lg:flex-row justify-around lg:justify-center items-center bg-sunset sm:shadow-2xl text-black }

.auth-img-container { @apply w-96 h-full flex flex-col gap-8 justify-center items-center p-8 }

.auth-img { @apply w-24 h-24 lg:w-64 lg:h-64 hidden lg:block }

.auth-languages { @apply flex gap-2 }

.auth-form { @apply h-[32rem] sm:h-[36rem] flex flex-col gap-3 lg:gap-5 p-8 w-full sm:w-96 bg-white } 

.auth-title { @apply text-3xl font-black }

.auth-text { @apply text-lg h-16 }

.auth-input { @apply w-full p-2 focus:outline-sunset border-solid border-2 border-ash rounded-xl }

.auth-button { @apply w-full bg-black hover:bg-coal focus:bg-coal duration-200 text-white rounded-xl }

.auth-redirect { @apply hover:underline cursor-pointer }

.auth-reset { @apply hover:underline cursor-pointer w-fit }

/*verify*/

.verify { @apply flex flex-col justify-center items-center gap-12 p-8 md:p-24 }

.verify-message { @apply w-full md:text-lg }

.verify-button { @apply w-fit hover:underline text-lightgray dark:text-lightgray }

/*dashboard*/

.dashboard { @apply flex flex-col-reverse md:flex-row }

.dashboard-menu { @apply h-12 md:w-16 md:h-full flex md:flex-col justify-around md:justify-center items-center md:gap-32 font-bold shrink-0 }

.active-link { @apply bg-sunset }

.dashboard-view { @apply w-full h-full bg-white dark:bg-black }

/*overview*/

.overview { @apply flex flex-wrap overflow-y-auto }

.day { @apply w-full md:w-1/2 lg:w-3/5 xl:w-4/6 h-fit md:h-1/2 flex flex-col justify-center text-center p-8 }

.calendar-container, .tools-container { @apply w-full md:w-1/2 lg:w-2/5 xl:w-2/6 }

.calendar-container { @apply pt-8 px-8 pb-4 h-1/2 }

.calendar { @apply full flex flex-col justify-between bg-black dark:bg-coal rounded-2xl p-4 text-white }

.tools-container { @apply pb-8 px-8 pt-4 }

.tools { @apply full grid grid-cols-2 grid-rows-2 gap-6 }

.tools > a { @apply bg-silver dark:bg-darkgray full rounded-2xl p-6 duration-200 }

.tymes { @apply w-full md:w-1/2 lg:w-3/5 xl:w-4/6 h-full md:h-1/2 flex flex-col lg:flex-row p-8 justify-between lg:gap-8 }

.today, .incoming { @apply w-full lg:w-1/2 h-fit lg:h-full flex flex-col gap-2 lg:gap-4 }

.today { @apply lg:border-r-2 border-solid border-silver dark:border-gray lg:pr-8 }

.tyme-container { @apply flex flex-col gap-4 lg:gap-6 overflow-y-auto }

/*day*/

.day-view { @apply flex flex-col p-6 md:p-12 }

.back { @apply w-12 rounded-full hover:bg-silver focus:bg-silver dark:hover:bg-coal dark:focus:bg-coal p-2 duration-200 }

/*settings*/

.settings { @apply flex flex-col p-12 }

.settings h1, .user h1 { @apply font-black text-3xl underline }

.settings h2 { @apply font-bold text-2xl mt-8 }

.settings-option { @apply w-full h-16 flex justify-between items-center gap-8 border-solid border-b-0 border-silver dark:border-gray p-2 }

.settings hr { @apply hidden md:block w-full }

.settings label { @apply w-fit whitespace-nowrap }

.settings input { @apply bg-white dark:bg-black p-2 }

.settings button { @apply bg-silver dark:bg-coal p-2 w-52 rounded-2xl }

/*selects*/

.my-react-select-container .my-react-select__control {
  @apply text-black dark:text-white bg-white dark:bg-black border-gray border-2 hover:border-ash dark:hover:border-gray;
}

.my-react-select-container .my-react-select__control--is-focused {
  @apply hover:border-gray dark:border-ash dark:hover:border-ash shadow-none;
}

.my-react-select-container .my-react-select__menu {
  @apply bg-white dark:bg-coal;
}

.my-react-select-container .my-react-select__option {
  @apply text-black dark:text-white hover:bg-silver hover:dark:bg-gray hover:dark:text-white;
}

.my-react-select-container .my-react-select__option--is-focused  {
  @apply bg-white dark:bg-coal;
} 

.my-react-select-container .my-react-select__option--is-selected  {
  @apply bg-sunset dark:text-black;
} 

.my-react-select-container .my-react-select__indicator-separator {
  @apply bg-gray;
}

.my-react-select-container .my-react-select__input-container,
.my-react-select-container .my-react-select__placeholder,
.my-react-select-container .my-react-select__single-value {
  @apply dark:text-white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  @apply p-8 md:p-24
}